.badge {
	font-size: 0.9rem;

	font-weight: bold;

	padding: 0.5em;
	border-radius: 999px;

	height: 1.5em;
	width: max-content;
	min-width: 1em;

	display: flex;
	justify-content: center;
	align-items: center;
}

.badge--primary {
	background-color: hsl(var(--clr-primary));
	color: hsl(var(--clr-black));
}

.badge--accent {
	background-color: hsl(var(--clr-accent));
	color: hsl(var(--clr-white));
}
